html {
    scroll-behavior: smooth;
} 

a {
    text-decoration: none;
    color: black;
}
 
 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      
    }
body {
  margin: 0;
  scroll-behavior: smooth;
}

.l-b-back {
    background-color: #467DAA;
}

.d-b-back {
    background-color: #225398;
}

.w-back {
    
    
    background-color: #F4F7FA;
}

.o-back {
    background-color: #E03A26;
}

.o-text {
    color: #E03A26;
}

.w-text {
    color: #FFFFFF;
}

.b-text {
    color: #1F1F1F;
}


.headline {
font-family: "IBM Plex Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.headline-italic {
    font-family: "IBM Plex Serif", serif;
  font-optical-sizing: auto;
  font-style: italic;
}

.body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
